{% extends "base.html" %}
{% load django_static %}

{% block title %}About{% endblock %}

{% block right %} 

{% endblock %}



{% block banner %}

{% endblock %}



{% block content %}
<div id="entry-content">

<img class="content" alt="a picture of Chris West, photographer" title="I generally read books about quantum mechanics, enlightenment philosophy, or anything by Chris Ryan." class="about" src="{% staticfile '/images/chris1.jpg' %}">

<p>My name is Chris West, and I'm a tea entrepreneur and owner of the <a href="http://www.minrivertea.com">Min River Tea Farm</a>, where I specialise in selling amazing quality Chinese teas grown near my home here in Fuzhou, China. This blog is a personal space where I tend to write about life for foreigners in China, photography, website coding and business.</p>

<h3>No comments</h3>

<p>I don't have comments enabled on the site, because it's my blog, and these are my thoughts. If you have alternative opinions, then I encourage you to setup and write your own blog.</p>
 

<h3>The cameras I use</h3>
<p>I don't have a massive camera or lens collection - it's too expensive and often buying cameras becomes a substitute for using them. I regularly use my Nikon D300, a Hassleblad 500C/M and an Olympus OM1 which is almost as old as I am.</p>

<h3>Contact me</h3>

<p>If you want to contact me about anything related or unrelated to this blog, please feel free - the best ways are:</p>

<ul>
 <li><a href="mailto:chris@minrivertea.com">email me</a></li>
 <li>find me on <a href="http://www.facebook.com/westcr">facebook</a></li>
</ul>

<h3>Why am I in China?</h3>

<p>I first got interested in China and Chinese culture after studying martial arts with the <a href="http://www.fwckungfu.com">Fujian White Crane</a> kung fu club. I travelled to China with a martial arts research group about 6 times between 2004-2006, taking over 30,000 photographs and hours of videos of authentic, traditional martial arts. After a few years, I decided to move to China, learn the language and extend my knowledge of this beautiful country.</p>

</div>

{% endblock %}
