{% extends "base.html" %}
{% load django_static %}

{% block title %}About{% endblock %}

{% block right %} 

{% endblock %}



{% block banner %}

{% endblock %}



{% block content %}
<div id="entry-content">

<img class="content" alt="a picture of Chris West, photographer" title="I generally read books about quantum mechanics, enlightenment philosophy, or anything by Chris Ryan." class="about" src="{% staticfile '/images/chris1.jpg' %}">

<p>My name is Chris West, and I'm a British photographer and web project manager living in Fuzhou, China. This blog is about my two of my favourite things - black and white photography and life for expats in China.</p>

<h3>The cameras I use</h3>
<p>I don't have a massive camera or lens collection. Mostly because I don't have enough money for one! However, I've chosen wisely and got myself a Nikon D300 with the 18-200mm VR lens, and a Nikkor 50mm 1.8F portrait lens. Recently, I also bought a Hasselblad 500C/M, which is a medium format (6x6) film camera. It rocks.</p>

<h3>Contact me</h3>

If you want to contact me about anything related or unrelated to the blog, please feel free - the best ways are:

<ul>
 <li>email me at <a href="mailto:westc25@googlemail.com">westc25@googlemail.com</a></li>
 <li>find me on <a href="http://www.facebook.com/westcr">facebook</a></li>
 <li>add me on QQ - 794820679</li>
</ul>

<h3>My day job</h3>

<p>I run a <a title="The Min River Tea Farm" href="http://www.minrivertea.com">Chinese tea shop called The Min River Tea Farm</a> - it's an online shop where you can buy great quality Chinese teas in the UK. If you like tea, or want something different for your daily brew, check it out!</p>

<h3>Why am I in China?</h3>

<p>I first got interested in China and Chinese culture after studying martial arts with the <a href="http://www.fwckungfu.com">Fujian White Crane</a> kung fu club. I travelled to China with a martial arts research group about 5 times, taking over 30,000 photographs and hours of videos of authentic, traditional martial arts. After a few years, I decided to move to China, learn the language and extend my knowledge of this beautiful country.</p>

</div>

{% endblock %}
