{% extends "base.html" %}
{% load thumbnail endless %}

{% block meta-description %}My photography portfolio of photos from Fuzhou, Fujian and across China{% endblock %}
{% block title %}my China photography portfolio{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready( function() {
        $('#header').animate({
            left: '-220',
        }, 500); 
        $('#header').addClass('reduced');
        $('#expand').toggle();
        $('#expand').bind('click', expandHeader);
           
    });
    
    function expandHeader(e) {
        if ($('#header').hasClass('reduced')) {
            $('#header').animate({left: '0',}, 500).removeClass('reduced');
            $('#header #expand').html('&laquo;');
        } else {
            $('#header').animate({left: '-220',}, 500).addClass('reduced');
            $('#header #expand').html('&raquo;');
        }
    }
    
    
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#header {
  position: fixed;   
}

div#entry-content {
  width: 900px;	
  margin: 0% 20%;
}

#entry-content .image {
  margin: 7% 0 20px;   
}

#entry-content .caption {
  font-size: 13px; 
  font-style: italic;
  width: 500px;  
}

img.flickr {
  float: left;
  margin-right: 20px;	
}

div#plug {
  display: none;   
}



</style>
{% endblock %}

{% block content %}

<div id="entry-content">

    {% for photo in photos %}
        {% thumbnail photo.image "500" crop="" as im %}
            <img class="image" src="{{ im.url }}" />
        {% endthumbnail %}
        <p class="caption">{{ photo.description }}</p>
    {% endfor %}
    


{% endblock %}



