{% extends "base.html" %}
{% load thumbnail endless %}

{% block meta-description %}My photography portfolio of photos from Fuzhou, Fujian and across China{% endblock %}
{% block title %}my China photography portfolio{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready( function() {
        $('#header').animate({
            left: '-220',
        }, 500); 
        $('#header').addClass('reduced');
        $('#expand').toggle();
        $('#expand').bind('click', expandHeader);
           
    });
    
    function expandHeader(e) {
        if ($('#header').hasClass('reduced')) {
            $('#header').animate({left: '0',}, 500).removeClass('reduced');
            $('#header #expand').html('&laquo;');
        } else {
            $('#header').animate({left: '-220',}, 500).addClass('reduced');
            $('#header #expand').html('&raquo;');
        }
    }
    
    
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#header {
  position: fixed;   
}

div#entry-content {
  width: 900px;	
  margin: 0% 20%;
}

#entry-content .image {
}

#entry-content .caption {
    border-bottom: 1px dashed #C1C1C1;
    font-family: Georgia;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    padding: 20px 10px 60px;
    width: 480px;
}

#entry-content p.photo {
  margin: 60px 0 10px;   
  text-align: center;
  width: 500px;
}

#entry-content .date {
  margin: 0 0 0px 0px;
  font-size: 16px;
    font-family: Georgia;
  color: #000;
       
}

img.flickr {
  float: left;
  margin-right: 20px;	
}

div#plug {
  display: none;   
}



</style>
{% endblock %}

{% block content %}

<div id="entry-content">

    {% for photo in photos %}
        {% thumbnail photo.image "500x500" crop="" as im %}
            <p class="photo"><img class="image" src="{{ im.url }}" /></p>
        {% endthumbnail %}
        
        <p class="caption"><span class="date">{{ photo.date_added|date:"d M Y" }} ~ </span> {{ photo.description|striptags }}</p>
    {% endfor %}
    


{% endblock %}



