{% load django_static %}

<!DOCTYPE html> 
<html> 
	<head> 
	<title>westiseast</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<link rel="stylesheet" href="{% staticfile '/css/mobile.css' %} />
	
	<script type="text/javascript">
    var _gaq = _gaq || [];

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
	
</head> 
<body> 


{% block content %}
{% endblock %}

<script type="text/javascript">
 $(document).bind('pageinit', function(event) {
     var photoWidth = (window.innerWidth - 30)
     $('#photo #image').width(photoWidth);
     $('#entry img').width(photoWidth);
 });
</script>

{% if ga_is_on %}
<script type="text/javascript">

$('[data-role=page]').live('pageshow', function (event, ui) {
    try {
        _gaq.push(['_setAccount', 'UA-9041614-1']);

        hash = location.hash;

        if (hash) {
            _gaq.push(['_trackPageview', hash.substr(1)]);
        } else {
            _gaq.push(['_trackPageview']);
        }
    } catch(err) {

    }

});


</script>
{% endif %}

</body>
</html>