{% load django_static %}

<!DOCTYPE html> 
<html> 
	<head> 
	<title>westiseast</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<link rel="stylesheet" href="{% staticfile '/css/mobile.css' %} />
</head> 
<body> 


{% block content %}
{% endblock %}

<script type="text/javascript">
 $(document).bind('pageinit', function(event) {
     var photoWidth = (window.innerWidth - 30)
     $('#photo #image').width(photoWidth);
 });
</script>

</body>
</html>