{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block title %}Curriculum Vitae{% endblock %}


{% block extracss %}
<style type="text/css">
div#entry-content {
  margin-top: 0px;	
}

div#entry-content p {
  margin-left: 0px;	
}

div#entry-content p.introduction {
    font-size: 1.2em;
    text-align: left;
    margin-top: 0;
    font-weight: bold;
}

div#entry-content ul.block {
  padding-left: 0;
  margin-left: 0px;	
  float: left;
}

div#entry-content ul.block p {
  margin-left: 0px;	
}

div#entry-content ul.block li {
  margin-bottom: 10px;
  float: left;
  list-style-type: none;
}

div#entry-content ul.block li img {
  margin: 10px 10px 20px 0px;
  box-shadow: inset 1px 1px 4px #e1e1e1;	
}

div#entry-content ul.block li.last {
  border-bottom: none;
}

h4 { margin-left: 0px; font-weight: bold; letter-spacing: 0px; font-size: 1.4em; padding-bottom: 10px; border-bottom: 1px solid #e1e1e1;}

span.hardtitle {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

</style>
{% endblock %}


{% block content %}
<br/>
<div id="entry-content">

<p class="introduction">I build websites - hand crafted code, modern design, and the experience to guide your website from idea to completion. Like these ones:</p>

<ul class="block">
<li>
<img src="{% staticfile '/images/minrivertea-small.png' %}"><br/>
<p><a href="http://www.minrivertea.com">www.minrivertea.com</a> <br/>
An online store selling Chinese tea to the UK. The site is built in Django, and integrates with Paypal through a custom built shopping cart. As well as tight integration with Google Analytics to track usage, goals and ecommerce statistics, the site also has active A/B testing running, constantly improving the design and features through real-time user testing experiments.</p>
</li>

<li class="last">
<img src="{% staticfile '/images/laowai.png' %}">
<p><a href="http://www.laowailai.com">www.laowailai.com</a> <br/>
A social website for foreigners in Fuzhou – this site has a public news feed for foreigners to keep up with events and info from Fuzhou, and a 'places' directory to find and review restaurants, cafes, museums, activities and tourist spots. It's integrated with Baidu Maps (like Google, but in China) for geo-location and mapping interfaces.</p>
</li>

<li>
<img src="{% staticfile '/images/factories.png' %}">
<p><a href="http://www.wesourcefactories.com">www.wesourcefactories.com</a> <br/>
An online store for a Fuzhou based decorations company. They design and manufacture wall decorations, and then sell to trade/individuals via their website. The site features shopping basket and payments mechanisms, as well as basic content management features to allow the non-technical founders to effectively manage their products.
</li>


<li>
<img src="{% staticfile '/images/christmas.png' %}">
<p><a href="http://www.chinachristmascards.com">www.chinachristmascards.com</a> <br/>
An adventurous project for a customer selling Christmas cards in China. The design called for quick and simple ordering of Christmas cards for foreigners located in China.
</li>

<li>
<img src="{% staticfile '/images/wheninchina.png' %}">
<p><a href="http://www.wheninchina.com">www.wheninchina.com</a> <br/>
A simple news aggregator and listing for expats living in China.
</li>



<li>
<img src="{% staticfile '/images/blog.png' %}">
<p><a href="http://www.westiseast.co.uk">www.westiseast.co.uk</a> <br/>
This blog - this site is a technical playground for new techniques, and a place where I haphazardly record my experiences in China in words or pictures.</p>
</li>

<li>
<img src="{% staticfile '/images/cloudclassy.png' %}">
<p><a href="http://www.cloudclassy.com">www.cloudclassy.com</a> <br/>
An online Bayesian classifier tool, documentation and API. I haven't got a clue how this tool works, or what it does (the science is beyond me), but I was asked to make it look pretty and readable. So there it is.</p>
</li>

<li>
<p><a href="http://www.londonfrockexchange.com">www.londonfrockexchange.com</a> <br/>
A dress exchange business based in London - I worked with LFE on a small number of technical changes to their website to put in place an effective credits system for swapping dresses, and supported their hosting migration.</p>
</li>

<li>
<p><a href="http://www.kwissle.com">www.kwissle.com</a> <br/>
A fun startup venture, and technical showcase of real-time web sockets technology, I am currently designing a user interface for this online quiz battle game.</p>
</li>

</ul>

<h4>Skills and capabilities</h4>
<p>I am a web all-rounder, able to design and build websites, and also familiar with information architecture and user-centred design (improving user experience on the web) principles and application. Specifically:</p>

<ul>
<li>HTML/CSS templating</li>
<li><a href="http://www.python.org">Python</a> programming language </li>
<li><a href="http://www.djangproject.com">Django</a> web framework </li>
<li>Use of <a href="http://www.ubuntu.com">Linux (Ubuntu)</a> servers</li>
<li>Use of <a href="http://www.apache.org">Apache</a>/<a href="http://nginx.org">Nginx</a> webserver software.</li>
<li>A range of office software (eg. Word, online collaboration tools, project planning tools)</li>
</ul>

<h4>Work history</h4>

<ul class="block">
<li>
	<p><span class="hardtitle">2009-11</span> – Technical Delivery Manager, Fry-IT (<a href="http://www.fry-it.com">www.fry-it.com</a>)</p>
</li>
<li>
	<p><span class="hardtitle">2007-9</span> – Studying Mandarin in China</p>
</li>
<li>
	<p><span class="hardtitle">2004-2007</span> – Web Manager, Qualifications and Curriculum Authority</p>
</li>

<li class="last">
 	<p><span class="hardtitle">2001-2004</span> – Communications Officer, Families for Children</p>
</li>

</ul>

<h4>Education</h4>
<ul>

<li>Philosophy and Politics BA – University of Sussex (1998-2001)</li>
<li>4 A-Levels – Chiswick Community College (1996-1998)</li>
</ul>



</div>

{% endblock %}
