{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block meta-description %}{{ entry.summary|safe }}{% endblock %}
{% block title %}{{ entry.title }}{% endblock %}

{% block extracss %}
<style type="text/css">
#entry-content {
  position: relative;	
}

</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">


function makeOverlay(HTML) {
    var overlay = jQuery('<div id="overlay" class="overlay" style="display:none"> </div>');
    overlay.appendTo(document.body);
    overlay.fadeIn(300);
    var overlayInner = jQuery('<div id="overlay-inner" class="overlay"> </div>');
    overlayInner.appendTo(document.body);
    overlayInner.html(jQuery(HTML));
    overlay.bind('click', removeOverlay);
    $('.close').bind('click', removeOverlay);
}

function removeOverlay() {
    $('.overlay').remove();
}       

    $('#entry-content img').click(function() {
        makeOverlay($(this).html();     
    });

</script>
{% endblock %}

{% block banner %}

{% endblock %}


{% block content %}


<div id="entry-content">

<h2>{{ entry.title }}</h2>
<p class="entry-meta"><em>This was posted on: {{ entry.date_added|date:"D d M Y" }}</em></p>

<p>{{ entry.content|safe }}</p>


</div>

{% if ga_is_on %}
<div id="social">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://www.westiseast.co.uk{{ entry.get_absolute_url }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>


<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="minrivertea">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>
{% endif %}





{% endblock %}


