{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block meta-description %}{{ entry.summary }}{% endblock %}
{% block title %}{{ entry.title }}{% endblock %}


{% block content %}

<div class="gallery-listing">
<h2>{{ entry.title }}</h2>
<p>{{ entry.content|safe }}</p>
<h3 class="title">{% trans "Galleries" %}</h3>
{% for gallery in other_galleries %}


    <h3><a href="{% url gallery gallery.slug %}">{{ gallery.title }}</a></h3>


{% endfor %}


</div>


<div class="dummy"

{% if entry.related_photos.all %}
	{% for photo in entry.related_photos.all %}  
	 <div class="image">
 	 <img src="{% thumbnail photo.image 500x500 %}" title="{{ photo.description }}"/>
 	 <div class="caption">{{ photo.description }}</div>
 	 </div>
	{% endfor %}
{% endif %}


</div>




{% endblock %}



