{% extends "base.html" %}
{% load thumbnail django_static %}

{% block meta-description %}Chris West's blog about photography, the web and Fuzhou, China - my home{% endblock %}
{% block title %}photography, the web and life in China{% endblock %}


{% block extrajs %}
<script>
</script>

{% endblock %}



{% block extracss %}
<style type="text/css">
p.summary {
  margin: 0 0 30px 0;
  font-size: 14px;
  float: left;   
 
}

span.current {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  display: block;
}

.entry img {
 float: left;
 width: auto;
 margin-right: 30px;   
}

span.desc {
  float: left;
  width: 600px;
  font-weight: normal;
  font-size: 14px; 
  color: #404040;
  line-height: 1.8em;  
}
</style>
{% endblock %}

{% block content %}


{% if tag %}
<p>Showing all entries tagged <a href="{% url blog_entries %}?tag={{ tag }}">{{ tag }}</a></p>
{% endif %}

{% if page > 1 %}
    <span class="current">
            Showing page {{ entries.number }} of {{ entries.paginator.num_pages }}.
    </span>
{% endif %}
	
{% for thing in entries.object_list %}
  {% if thing.get_type == 'photo' %}
      {% thumbnail thing.image "300x300" crop="" as im %}
        <a href="{% url photo thing.slug %}" class="entry"><img src="{{ im.url }}"/>{{ thing.title }}<br/><span class="desc">{{ thing.description|safe|truncatewords:"30" }}</span></a>
      {% endthumbnail %}
  {% else %}
      <a class="entry" href="{% url blog_entry thing.slug %}">{{ thing.title }}</a>
      <p class="summary">{{ thing.content|striptags|truncatewords:"80" }}</p>
  {% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
        </span>

        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>





{% endblock %}