{% extends "base.html" %}
{% load thumbnail django_static %}

{% block meta-description %}Chris West's blog about photography, the web and Fuzhou, China - my home{% endblock %}
{% block title %}photography, the web and life in China{% endblock %}


{% block extrajs %}
<script>
</script>

{% endblock %}



{% block extracss %}
<style type="text/css">
p.summary {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 1.8em;
  padding-right: 200px;   
}
</style>
{% endblock %}

{% block content %}


	
{% for thing in entries %}
  <a class="entry" href="{% url blog_entry thing.slug %}">{{ thing.title }}</a>
  {% if forloop.counter < 4 %}<p class="summary">{{ thing.content|striptags|truncatewords:"80" }}</p>{% endif %}
{% endfor %}


<a class="see-more" href="{% url more %}">See older blog entries...</a>




{% endblock %}