{% extends "base.html" %}
{% load thumbnail %}

{% block meta-description %}{{ photo.description }}{% endblock %}
{% block title %}{{ photo.title }}{% endblock %}

{% block extracss %}
<style type="text/css">
h2 {
  margin: 0 0 30px 0;    
}

#entry-content {
  width: 90%;   
}

#entry-content img {
  float: left;
  margin: 0 30px 30px 0;   
}

</style>
{% endblock %}

{% block content %}

<div id="entry-content">


<h2>{{ photo.title }}</h2>

{% thumbnail photo.image "600x600" crop="" as im %}
<img alt="{{ photo.description|striptags }}" title="{{ photo.title }}" src="{{ im.url }}">
{% endthumbnail %}

<p>{{ photo.description|safe }}</p>

</div>
{% endblock %}

