html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0 none;
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0
}

body, ul, ol, p {
    color: #404040;
    font-family: "Myriad Pro", Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}

h1 {
	font-size:4em;
	font-weight:600;
	height:50px;
	width:auto;
	margin: 10px 0;
}

h1 a {
    display: block;
    width: auto;
    color: #000;
}

h2 {
    color: #333333;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0 10px;
    padding: 0;
}

h4 {
	color:black;
	font-size:1.1em;
	font-weight:bold;letter-spacing:-1px;margin:30px 0 10px;
}

#main h3 {
    color: #000000;
    font-size: 22px;
    margin: 0;
    padding-top: 0px;
}

	
.container {
    left: 0;
    margin: 0 auto;
    padding: 35px 35px 35px 0;
    position: absolute;
    right: 0;
    width: 50%;
}

#header .container {
  padding-top: 0;   
}

#header {
    background: none repeat scroll 0 0 #F1F1F1;
    height: 90px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

#header #header-elements {
  padding: 0px 0;
  float: left;   
}

#header img {
  float: left;
  margin: 0 20px 0 0;   
}

#header h1 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin: 47px 30px 0 0;
    text-transform: uppercase;
}

#header #site-explanation {
  float: left;
}

#header nav {
    float: left;
    margin: 47px 0 0 0px;
    width: auto;
}

#header nav ul {
    float: left;
    list-style: none outside none;
    margin-left: 0;
    padding: 0;
}

#header nav ul li {
  float:left;
  margin-right: 30px;   
}

#header nav a {
    float: left;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    padding: 0 0 0px 0;
}

#header nav a:hover {
    border-bottom: 1px solid #d1d1d1;
}


div#language-selector{float:right;font-size:0.8em;margin-right:30px;margin-top:40px}div#nav-links{font-size:0.8em;text-align:center;text-transform:uppercase;width:960px}div#nav-links a{margin-right:50px}div#nav-links 

img.rss {
    position: absolute;
    right: 0;
    top: 47px;
}

div#banner{height:250px;border-bottom:1px solid #e1e1e1;margin-bottom:50px;float:left;width:900px;padding-left:40px}div#banner img{margin:25px 20px 0 0;float:left}div.banner-caption{background-color:#e6e6e6;float:left;height:25px;padding:5px 20px 0 30px;position:relative;text-align:right;top:-30px}div.banner-caption a{color:black;font-size:0.8em}div.banner-caption a:hover{color:white}


#main {
    float: left;
    width: 100%;
    position: relative;
}

#plug {
    background-color: #E1ECF3;
    float: left;
    font-size: 28px;
    margin: 0 0 100px 30px;
    padding: 20px 40px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

#plug a {
  text-decoration: underline;	
}


div#footer{float:left;width:500px;margin-top:30px}div#footer img{margin-right:10px}div.gallery-listing{margin:40px 0 0 50px;width:350px;height:430px}div.gallery-listing p{margin-bottom:20px}div.dummy{float:right;margin-left:40px;width:490px}div.dummy div.image{float:left;height:150px;margin:0 10px 10px 0}div.dummy div.image img{border:none}

div#right h3{border:none;width:none}div#right h4{margin:0 0 -10px 0;text-transform:uppercase;font-size:0.9em;color:#277FA3;font-weight:normal;padding-bottom:5px}div#right ul li{list-style-type:none;font-size:0.8em;font-weight:normal;margin-left:40px;line-height:1.5em}div#right li{padding-bottom:10px;margin-top:0px;margin-bottom:-10px;border-bottom:1px solid #b1b1b1;width:200px}div#right ul.blog{font-size:16px;margin-bottom:20px;margin-top:20px}div#right li.blog{border-bottom:1px solid #E1E1E1;margin-bottom:10px;margin-left:40px;padding-bottom:10px}div#right li a.link{display:none}div#right ul img{position:relative;top:30px;left:2px}div#right ul{margin:0;padding:0}


#right {
  float: right;
  width: 240px	
}

#intro {
    background-color: #F1F1F1;
    float: right;
    margin: 10px 0 0 0;
    padding: 15px 20px;
    width: 200px;
}

#intro img {
  float: left;
  margin-bottom: 10px;	
}

#intro p {
  font-size: 13px;
  line-height: 1.5em;
  margin-bottom: 10px;	
}

a.minriver {
	background-color: #f1f1f1;
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    border: 1px solid #fff;
    box-shadow: 0 1px 2px #999, 0 1px 0px #f6f6f6;
    -webkit-box-shadow: 0 1px 2px #999, 0 1px 0px #f6f6f6;
    -moz-box-shadow: 0 1px 2px #999, 0 1px 0px #f6f6f6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-shadow: 0 1px 1px #fff;
    text-align: left;
    cursor: pointer;
    color: #333;	
    float: left;
    margin-top: 20px;
    width: 207px;
}

a.minriver:hover {
  color: #3c9221;	
}

a.minriver:hover img {
  opacity: 0.8;	
}

a.minriver img {
  margin-bottom: 5px;	
}

a.minriver img:hover {
  opacity:;	
}

.entry {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #C2C2C2;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: -34px;
    padding: 15px 35px;
    width: 100%;
	-moz-transition-duration:300ms;
	-moz-transition-property:background;
	float: left;
}

.entry.image {
  border-bottom: none;
  padding: 20px 12px;	
}

.entry.image span#summary {
  position: absolute;
  top: 0;
  left: 0;	
  padding: 25px 20px;
  font-size: 24px;
  display: none;
  color: #666;
}

.entry span.link{height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}

#main .entry:hover {
   cursor: pointer;
}

#main .entry.image:hover img {
  opacity: 0.1;
}

#main .entry.image:hover span#summary {
  display: block;
}

#main .entry:hover h3 a {
	text-decoration:underline;
}

.entry img.link{float:left;margin-bottom:80px;margin-right:20px;margin-top:20px}

div#comments img.link{float:left;margin-bottom:10px;margin-right:20px}


.entry p.link{margin-top:10px;margin-bottom:10px;line-height:1.5em}.entry ul,


span.read-more{font-size:12px}

#social {
    position: absolute;
    right: 0;
    top: -30px;
}

#entry-content {
	color:#555;
	margin: 0 0 30px 0px;
}

#entry-content p {
	margin-bottom:20px;
}

#entry-content p.introduction {
  font-size: 22px;	
}

#entry-content a {
    border-bottom: 1px solid #41B7B6;
    color: #41B7B6;
    padding-bottom: 2px;
}

#entry-content a:hover {
  color: #D75701;
  border-bottom: 1px solid #D75701;
}

#entry-content ul, #entry-content ol {
	margin: 20px 0 20px 65px;
	line-height: 1.8em;
}

#entry-content p.entry-meta {
  color:#999;
}

.entry p.entry-date {
  position: absolute;
  bottom: -29px;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
  font-size: 14px;	
}

#entry-content > img {
    float: left;
    margin: 0 30px 50px 0;
    width: 335px;
}

#entry-content > img:hover {
  opacity: 0.8;
  cursor: pointer;   
}

p.click-photo-message{text-align:left;font-size:0.8em;color:#666;margin:0 0 10px 0}span.tags{color:#999;margin-left:10px}img.little-tags{position:relative;top:7px;left:10px}div.caption{color:#333;font-size:0.8em;margin:10px 0px 20px 20px;padding:5px 5px 15px;width:500px;text-align:left}a{text-decoration:none;color:#108b8a}a img{border:none}a img:hover{opacity:0.8}

a:hover {
	color:#D75701;
}

#other-entries {
  float: left;
  width: 800px;
  margin-bottom: 30px;	
}

#other-entries p {
  font-size: 22px;	
}

div#comments{border-top:1px solid #E1E1E1;float:left;margin-bottom:40px;padding-top:30px;width:700px}div#comments h3{font-size:20px}div#comments div.a-comment{float:left;border-bottom:1px solid #999;padding-bottom:20px;padding-top:20px}div#comments div.a-comment.last{border-bottom:none}div#comments div.commenter{width:300px}div#comments div.commenter span.name{margin-bottom:0;margin-top:0;font-weight:normal}div#comments div.commenter span.date{font-size:0.7em;color:#666}div#comments div.the-comment{float:left}div#comments div.the-comment p{margin:0;font-size:14px;color:#666}div#comments div.comment-form{margin-top:0px;float:left}div#comments div.comment-form h3{margin-bottom:10px}div#comments div.comment-form p{float:left}div#comments label{width:140px;float:right;font-size:0.8em;text-align:left;margin-left:10px}div#comments input,div#comments textarea{width:500px;border:1px solid #b1b1b1}div#comments input{-moz-border-radius:7px 7px 7px 7px;border-color:#D1D1D1 #F1F1F1 #F1F1F1 #D1D1D1;border-style:solid;border-width:1px;font-size:14px;padding:10px}div#comments p.help{font-size:0.7em;color:#666}div#comments p.submit input{background-color:#277FA3;color:white;border:none;height:30px;padding-left:10px;padding-right:10px}div#comments p.submit input:hover{color:#277FA3;background-color:#e1e1e1;cursor:pointer}img.about{float:left;margin-right:30px;margin-bottom:30px}

.see-more {
	float:left;
	margin:30px 0 20px 0;
	padding-top:30px;
	width:600px;
}

.scroll{
    position:relative;
    overflow:hidden;
    width:400px;
    height:400px;
    float:left;
    margin-bottom:30px;
}

.scroll.thin {
	width:332px;
	height:500px;
	margin-right:0px;
	float:left;
	margin-left:30px;
}

.scroll .pics{
    width:20000em;
    position:absolute;
    clear:both;
}

.pics div { 
    float:left;
    cursor:pointer;
    width:400px !important;
    height:400px;
    margin:0px;
}

.pics.thin div {
    width:332px;
    height:500px;
}

.scroll.active{}img.click{float:right;position:absolute;left:770px;top:200px}#entry-content 

p.medium-format{float:left; margin-left: 20px; width: 270px;}

code, pre {
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 12.025px;
    line-height: 18px;
    margin: 0 0 20px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre span.filename {
  color: red;   
}


span.underline {
  text-decoration: underline;	
}

#entry-content p.quote {
    background-color: #f6f6f6;
    border-left: 5px solid #E1E1E1;
    font-style: italic;
    margin-left: 0;
    padding: 20px 15px 20px 50px;
    font-size: 14px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
}

#overlay-inner {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 800px;
    z-index: 20000;
}

#overlay-inner > img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
}





