html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0 none;
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Bitter",Georgia,serif;
}

body, ul, ol, p {
    color: #333;
    font-family: "Merriweather",Georgia,serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
}

body {
  background: #fff;  
} 

strong {
  font-weight: 600;   
}

#logo a {
  color: #000;
}


h1 {
    color: #333;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -0.5px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    font-size: 28px;
    line-height: 1.4em;
    letter-spacing: -0.5px;
    margin: 0px;
    padding: 0;
}

h4 {
	color:black;
	font-size:1.1em;
	font-weight:bold;letter-spacing:-1px;margin:30px 0 10px;
}

#main h3 {
    color: #000000;
    font-size: 18px;
    margin: 0 0 5px 0;
    padding-top: 0px;
}

	
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    position: relative;
    left: -5%;
}

#header {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: #f6f6f6;
}


#header #mugshot {
   float: right;
   position: relative;
   top: 10px;
   margin: 0 0px 0 20px;
}

#header img.rss {
    float: left;
    position: relative;
    top: 7px;
}

#header h1 {
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin: 40px 30px 0 0;
}

#header #site-explanation {
  float: left;
}

#header nav {
    float: left;
    margin: 40px 0 0 0px;
    width: auto;
}

#header nav ul {
    float: left;
    list-style: none outside none;
    margin-left: 0;
    padding: 0;
}

#header nav ul li {
  float:left;
  margin-right: 30px;   
}

#header nav a {
    float: left;
    font-size: 16px;
    position: relative;
    text-transform: lowercase;
    padding: 0 0 0px 0;
}

#header nav a:hover {
    border-bottom: 1px solid #d1d1d1;
}


.plug {
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    font-size: 22px;
    margin: 20px 0;
    padding: 30px 0;
}

#footer {
  background: #f6f6f6;
  text-align: center;
  padding: 20px 0;   
}


.entry {
    border-top: 1px solid #C2C2C2;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
    padding: 15px 0 0;
    width: 100%;
}


#main .entry:first-child {
  border-top: none;
  padding-top: 0;   
}

.entry.image {
  border-bottom: none;
  padding: 20px 12px;	
}

.entry.image span#summary {
  position: absolute;
  top: 0;
  left: 0;	
  padding: 25px 20px;
  font-size: 24px;
  display: none;
  color: #666;
}

.entry span.link{height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}

#main .entry:hover {
   cursor: pointer;
}

#main .entry.image:hover img {
  opacity: 0.1;
}

#main .entry.image:hover span#summary {
  display: block;
}

#main .entry:hover h3 a {
	text-decoration:underline;
}

.entry img.link{float:left;margin-bottom:80px;margin-right:20px;margin-top:20px}

div#comments img.link{float:left;margin-bottom:10px;margin-right:20px}


.entry p.link{margin-top:10px;margin-bottom:10px;line-height:1.5em}.entry ul,


span.read-more{font-size:12px}

#social {
    position: absolute;
    right: 0;
    top: -20px;
}

#entry-content {
	color:#555;
	margin: 20px 0 30px 0px;
}

#entry-content p {
	margin-bottom:30px;
}

#entry-content p.introduction {
    font-size: 22px;
}

#entry-content a {
    border-bottom: 1px solid #0088cc;
    padding-bottom: 2px;
}

#entry-content a:hover {
  border-bottom: 1px solid #D75701;
}

#entry-content ul, #entry-content ol {
	margin: 20px 0 20px 65px;
}

#entry-content p.entry-meta {
  color:#999;
  font-size: 14px;
}

.entry p.entry-date {
  position: absolute;
  bottom: -29px;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
  font-size: 14px;	
}

#entry-content > img {
    margin: 0 30px 50px 0;
}

#entry-content > img:hover {
  opacity: 0.8;
  cursor: pointer;   
}

p.click-photo-message{text-align:left;font-size:0.8em;color:#666;margin:0 0 10px 0}span.tags{color:#999;margin-left:10px}img.little-tags{position:relative;top:7px;left:10px}div.caption{color:#333;font-size:0.8em;margin:10px 0px 20px 20px;padding:5px 5px 15px;width:500px;text-align:left}

a {
    text-decoration:none;
    color:#0088CC;
}

a img {
    border:none;
}

a img:hover{opacity:0.8}

a:hover {
	color:#D75701;
}

#other-entries {
  float: left;
  width: 800px;
  margin-bottom: 30px;	
}

#other-entries p {
  font-size: 22px;	
}

div#comments{border-top:1px solid #E1E1E1;float:left;margin-bottom:40px;padding-top:30px;width:700px}div#comments h3{font-size:20px}div#comments div.a-comment{float:left;border-bottom:1px solid #999;padding-bottom:20px;padding-top:20px}div#comments div.a-comment.last{border-bottom:none}div#comments div.commenter{width:300px}div#comments div.commenter span.name{margin-bottom:0;margin-top:0;font-weight:normal}div#comments div.commenter span.date{font-size:0.7em;color:#666}div#comments div.the-comment{float:left}div#comments div.the-comment p{margin:0;font-size:14px;color:#666}div#comments div.comment-form{margin-top:0px;float:left}div#comments div.comment-form h3{margin-bottom:10px}div#comments div.comment-form p{float:left}div#comments label{width:140px;float:right;font-size:0.8em;text-align:left;margin-left:10px}div#comments input,div#comments textarea{width:500px;border:1px solid #b1b1b1}div#comments input{-moz-border-radius:7px 7px 7px 7px;border-color:#D1D1D1 #F1F1F1 #F1F1F1 #D1D1D1;border-style:solid;border-width:1px;font-size:14px;padding:10px}div#comments p.help{font-size:0.7em;color:#666}div#comments p.submit input{background-color:#277FA3;color:white;border:none;height:30px;padding-left:10px;padding-right:10px}div#comments p.submit input:hover{color:#277FA3;background-color:#e1e1e1;cursor:pointer}img.about{float:left;margin-right:30px;margin-bottom:30px}

.see-more {
	float:left;
	margin:30px 0 20px 0;
	padding-top:30px;
	width:600px;
}

.scroll{
    position:relative;
    overflow:hidden;
    width:400px;
    height:400px;
    float:left;
    margin-bottom:30px;
}

.scroll.thin {
	width:332px;
	height:500px;
	margin-right:0px;
	float:left;
	margin-left:30px;
}

.scroll .pics{
    width:20000em;
    position:absolute;
    clear:both;
}

.pics div { 
    float:left;
    cursor:pointer;
    width:400px !important;
    height:400px;
    margin:0px;
}

.pics.thin div {
    width:332px;
    height:500px;
}

.scroll.active{}img.click{float:right;position:absolute;left:770px;top:200px}#entry-content 

p.medium-format{float:left; margin-left: 20px; width: 270px;}

code, pre {
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 12.025px;
    line-height: 18px;
    margin: 0 0 20px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre span.filename {
  color: red;   
}


span.underline {
  text-decoration: underline;	
}

#entry-content p.quote {
    background-color: #f6f6f6;
    border-left: 5px solid #E1E1E1;
    font-style: italic;
    margin-left: 0;
    padding: 20px 15px 20px 50px;
    font-size: 14px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
}

#overlay-inner {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 800px;
    z-index: 20000;
}

#overlay-inner > img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
}





