{% load thumbnail %}
<div data-role="page" id="photo" data-theme="b">

    {% include 'snippets/header_mobile.html' %}

    <div data-role="content">
        <h1>{{ photo.title }}</h1>
        {% thumbnail photo.image "500x500" crop="" as im %}
        <img id="image" alt="{{ photo.description|striptags }}" title="{{ photo.title }}" src="{{ im.url }}">
        {% endthumbnail %}

        <p>{{ photo.description|safe }}</p>
    </div>
</div>

<script type="text/javascript">
 $(document).bind('pageinit', function() {
     $('#image').width($(window).width());
 });
</script>